@import url('./blocks/avatar-a.css');
@import url('./blocks/button-a.css');
@import url('./blocks/slider-a.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --app-color-a: #303030;
  --app-accent-a: #00ccff;
  --app-accent-b: #d400d4;

  padding: 20px max(calc(50% - 300px), 20px);
  min-height: 100vh;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: var(--app-color-a);
}
