@import url('./blocks/text-a.css');
@import url('./blocks/avatar-a.css');
@import url('./blocks/button-a.css');
@import url('./blocks/slider-a.css');

:root {
  font-size: 125%; /*20px*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --app-color-a: #303030;
  --app-accent-a: #00ccff;
  --app-accent-b: #d400d4;

  padding: 1rem max(calc(50% - 15rem), 1rem);
  min-height: 100vh;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background: var(--app-color-a);
}
