.button-a {
  --button-a-accent-a: var(--app-accent-a, #00ccff);
  --button-a-accent-b: var(--app-accent-b, #00ccff);
  --button-a-border-radius: 30px;

  position: relative;
  width: 6rem;
  height: 2rem;
  margin: 1rem;
}

.button-a__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, .05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  border-radius: var(--button-a-border-radius);
  color: #fff;
  z-index: 1;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  backdrop-filter: blur(15px);
}

.button-a:hover .button-a__link {
  letter-spacing: 3px;
}

.button-a__link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, .15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: .5s;
}

.button-a:hover .button-a__link::before {
  transform: skewX(45deg) translateX(200%);
}

.button-a::before,
.button-a::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5rem;
  height: .5rem;
  border-radius: .5rem;
  transition: .5s;
}

.button-a::before {
  bottom: -5px;
  background: var(--button-a-accent-a);
  box-shadow:
    0 0 5px var(--button-a-accent-a),
    0 0 15px var(--button-a-accent-a),
    0 0 30px var(--button-a-accent-a);
}

.button-a::after {
  top: -5px;
  background: var(--button-a-accent-b);
  box-shadow:
    0 0 5px var(--button-a-accent-b),
    0 0 15px var(--button-a-accent-b),
    0 0 30px var(--button-a-accent-b);
}

.button-a:hover::before,
.button-a:hover::after {
  height: 50%;
  width: min(calc(100% - var(--button-a-border-radius)), 99%);
  border-radius: var(--button-a-border-radius);
}

.button-a:hover::before {
  bottom: 0;
}

.button-a:hover::after {
  top: 0;
}
