.loader-b {
  --loader-b-background-color: var(--app-color-a);
  --loader-b-color-accent-a: var(--app-accent-a, rgba(0, 0, 0, .5));
  --loader-b-color-accent-b: var(--app-accent-b, var(--loader-b-color-accent-a));
  --loader-b-animation-duration: 1.6s;

  position: relative;
  display: flex;
  animation: loader-b-color-change calc(var(--loader-b-animation-duration) * 2) linear infinite;
  animation-delay: calc(var(--loader-b-animation-duration) / 2);
}

.loader-b span {
  width: 5rem;
  height: 30rem;
  margin: 0 2rem;
  background: var(--loader-b-background-color);
  animation: loader-b var(--loader-b-animation-duration) linear infinite;
  border-radius: 2.5rem;
}

.loader-b span:nth-child(1) {
  animation-delay: 0s;
}

.loader-b span:nth-child(2) {
  animation-delay: 0.2s;
}

.loader-b span:nth-child(3) {
  animation-delay: 0.4s;
}

.loader-b span:nth-child(4) {
  animation-delay: 0.6s;
}

.loader-b span:nth-child(5) {
  animation-delay: 0.8s;
}

.loader-b span:nth-child(6) {
  animation-delay: 1s;
}

.loader-b span:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes loader-b {
  0% {
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    transform: translateX(-5rem) scale(1);
  }

  50% {
    opacity: 1;
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .5);
    transform: translateX(0) scale(1.2);
  }

  51% {
    box-shadow: 0 .5rem 2rem var(--loader-b-color-shadow);
  }

  100% {
    box-shadow: 0 0 0 rgba(0, 0, 0, .5);
    opacity: 0;
    transform: translateX(5rem) scale(1);
  }
}

@keyframes loader-b-color-change {
  0% {
    --loader-b-color-shadow: var(--loader-b-color-accent-a);
  }

  100% {
    --loader-b-color-shadow: var(--loader-b-color-accent-b);
  }
}
